[submodule "ECA_best_officer"]
	path = ECA_best_officer
	url = git@github.com:shrestharohit/ECA_best_officer.git
[submodule "ECA_office_analysis"]
	path = ECA_office_analysis
	url = git@github.com:shrestharohit/ECA_office_analysis.git
[submodule "startup_success_predictor"]
	path = startup_success_predictor
	url = git@github.com:shrestharohit/startup_success_prediction.git
[submodule "UNIE_library"]
	path = UNIE_library
	url = git@github.com:shrestharohit/UNIE_library.git
[submodule "agricultural-uav"]
	path = agricultural-uav
	url = git@github.com:shrestharohit/agricultural-uav.git
